/* carousel css */
.carousel-bg-color{
    background-color: #FEEAE9;
}
/* categories section css */
.cat-bg{
    background-image: linear-gradient(#FF9C35, #FFD019)
}
.cat-bg-2{
    background-image: linear-gradient(#FF589B, #FF136F)
}
.cat-bg-3{
    background-image: linear-gradient(#4289FF, #3F07F8)
}